node_modules/
.DS_Store
.vscode/
package-lock.json
npm-debug.log*
.env
todo.md
.github
TESTING.md

# Test coverage
coverage/

# Build artifacts
dist/
*.db
models-test/
chinese_whispers.db

# Logs
*.log
