node_modules/
.DS_Store
.vscode/
npm-debug.log*
.env
todo.md
src/models/auditModel.js
src/models/tagModel.js

# Test coverage
coverage/

# Build artifacts
dist/
*.db
models-test/
chinese_whispers.db

# Logs
*.log
